* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

:root {
  --background: #ffffef;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
